<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 加载数据库连接的文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	
	<bean id="datasource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/vegetables" />
		<property name="username" value="root" />
		<property name="password" value="root" />
		<!-- 配置连接池相关属性 -->
		<!-- 初始化连接数 -->
		<property name="initialSize" value="5"></property>
		<!-- 最小连接数 -->
		<property name="minIdle" value="2"></property>
		<!-- 最大活动链接 -->
		<property name="maxActive" value="5"></property>
		<!-- 最大等待时间 -->
		<property name="maxWait" value="10000"></property>
		<!--获取连接后，是否检查连接的有效性 -->
		<property name="testOnBorrow" value="true"></property>
	</bean>

	<!-- 创建mybatis的数据库的连接 -->

	<bean id="sessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--注入连接datasource -->
		<property name="dataSource" ref="datasource"></property>
		<!-- mapper映射文件目录 -->
		<property name="mapperLocations" value="classpath:mapper/*.xml"></property>
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<!-- 扫描po包 -->
		<property name="typeAliasesPackage" value="com.offcn.po"></property>
	</bean>
	<!-- mybatis整合dao -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactory" ref="sessionFactory"></property>
		<!-- dao所在包 -->
		<property name="basePackage" value="com.offcn.dao"></property>
	</bean>




</beans>