<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.offcn.dao.BaiCaiDao">
<insert id="save" parameterType="com.offcn.po.BaiCai">
	insert into baicai values(null, #{name},#{minprice},#{averageprice},#{maxprice},#{releasedate})
</insert>
<select id="getbBcByDate" resultType="com.offcn.po.BaiCai">
	select * from  baicai where releasedate between #{begindate} and #{enddate}
</select>

</mapper>